/* question.css */

.for-overallproject-que{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 88vh;
    margin: 2rem;
}
.question {
  background-color: #4b5a6a71; /* Dark black background */
  color: #ffffff; /* White text */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.question p {
  font-size: 16px;
  margin-bottom: 15px;
}

.question .dropdown {
  margin-bottom: 20px;
}

.question .label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #00000077; /* Change this to black (#000) */
  color: #fff; /* White text */
}

/* Add space between label and select box */
.question .dropdown label {
  display: block;
  margin-bottom: 5px; /* Adjust the spacing as needed */
}