.for-home-screen{
    display: flex;
    justify-content: space-evenly;
    height: 89vh;
    align-items: center;
}



.explore{  
    margin-left: 5rem;  
    color: white;
    width: 50%;
    /* font-family: 'inria serif'; */
}

.for-start-para{
    font-size: 2rem;
    margin: 0.5rem;
    /* background-color: green; */
}

.for-middle-para{
    margin: 0.5rem;
    /* background-color: red; */
    font-size: 2.5rem;
}

.home-para{
    /* background-color: blue; */
    margin: 0.5rem;
    font-size: 1.2rem;
}

.coloredtext{
    color: #fc0;
}



.for-image-div{
    display: flex;
    justify-content: center;
    width: 50%;
}

.for-home-img{
    width: 23rem;
}







@media only screen and (max-width: 850px) {
    .for-home-screen{
        align-items: center;
        max-width: 100vw;
        text-align: center;
    }

    
    .for-image-div{
        display: none;
    }
    .explore{ 
        margin: 1.2rem;
        width: 100%; 
        color: white;
        font-family: 'inria serif';
    }
}