div.col-6 ,
.image-container .col-6{
    display: flex;
    flex-direction: column;

}
.cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
     /* Align cards with space in between */
    align-items: center;
    align-self: center;
    align-items: stretch;
    /* gap: 2rem; */
    /* margin-left: 2rem; */
}

.cards-wrapper{
    display: block;
    width: 90%;
    margin: auto;
}

.card-wrapper{
    
}

/* .card-container {
    display: inline-block;
    flex-shrink: 0; 
    height: 22rem;
    width: 14rem;
   
    margin:1rem;
    border-radius: 10px;
    scroll-snap-align: start; 
    transition: transform 0.3s ease;
     
} */
.card-image{
    
    height:100% ;
    width: 100%;
    border-radius: 10px;
   
   
}

.image-container{
    /* margin :1rem;
    margin-bottom: 0; */
    
}

.card-container {
    /* Adjust the width to fit three cards in one row */
    display: flex;
    flex-direction: row;
    /* margin: 1rem; */
    padding: 0;
    height: 100%;
   
    border-radius: 10px;
    box-sizing: border-box; 
    min-height: 12.5rem;
    box-shadow: 0 0 5px rgba(102, 252, 241, 0.5);
}


.for-branch{
    color: white;
    font-size: 2rem;
    /* margin: 1.5rem; */
    /* font-family: 'inria serif' */
}

.for-cse{
    color: white;
    font-size: 1.5rem;
    text-align: center;

}

.for-sub-para{
    font-size: 1rem;
    color: white;
    text-align: center;
   
}
@media only screen and (max-width: 576px) {
    .card-container{
        flex-direction: column;
        width: 100%;
    }
    .cards{
        gap: 2rem;
    }
    
}