.footer{
    background-color:#45a29e;
    font-family: 'Inria Serif';
    font-size: 1.3rem;
    bottom: 0;  
}

.for-p{
    color: white;
    margin-left: 1rem;
    margin-bottom: 0rem;

}
.for-a{
    color: white;
    
}

