img{
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 50px;
}
.container{
  padding:20px;
}
img{
  padding: 8px 8px 8px;
}
header{
  text-align: center;
  overflow: hidden;
  background-image:linear-gradient(to right,rgb(121, 199, 255), rgb(89, 0, 255));
  border-bottom-left-radius:20px ;
  border-bottom-right-radius: 20px;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px;
  float: center;
  text-align: center;
}
