body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dark Theme Colors */
:root {
  --primary: #092635;
  --secondary: #1B4242;
  --accent: #5C8374;
  --background: #1B4242;
  --text: #9EC8B9;
  --hover: #9EC8B9;
}

/* Dark Theme Variables */
:root {
  --body: var(--primary);
  --button-background: var(--accent);
  --button-text: var(--secondary);
  --button-hover: var(--hover);
  /* Add more variables as needed */
}

/* Light Theme Colors */
:root.light {
  --primary: #092635;
  --secondary: #1B4242;
  --accent: #5C8374;
  --background: #9EC8B9;
  --text: #092635;
  --hover: #1B4242;
}

/* Light Theme Variables */
:root.light {
  --body: var(--background);
  --button-background: var(--accent);
  --button-text: var(--secondary);
  --button-hover: var(--hover);
  /* Add more variables as needed */
}
